.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-form table {
  margin-top: 10px;
}

.search-form .too-many-verbs-error {
  color: red;
  display: block;
}

.search-full-width {
  width: 100%;
}

form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
